import * as React from 'react'
import propTypes from 'prop-types'

interface {{ name }}PropsInterface {

}

const {{ name }}:React.FC<{{ name }}PropsInterface> = ({}: any) => {
    const [state, setState] = React.useState({})

    React.useEffect(() => {

    }, [])

    return (
        <React.Fragment>
            <div className={`{{ name }}-container`}>

            </div>
        </React.Fragment>
    )
}

{{ name }}.defaultProps = {

}

{{name}}.propTypes = {

}

export default {{ name }}